{% extends 'base.html' %}

{% block content %}
    <h1 class="tag-line">Do Stuff with images</h1>

    <div class="content">
        <div>
            <h2>Placeholders</h2>
            <div>
                <h3>Method</h3>
                <p class="method">/placeholder/{width}x{height}</p>
            </div>
            <img class="float-center" src="placeholder/300x300" />
        </div>

        <div>
            <h2>Thumbnails</h2>
            <div>
                <h3>Method</h3>
                <p class="method">/thumb/{size}?img_path={image path}</p>
            </div>
            <img class="float-center" src="thumb/150?img_path={{ ImagePath }}" />
        </div>

        <div>
            <h2>Cropping</h2>
            <div>
                <h3>Method</h3>
                <p class="method">/crop/{width}x{height}?img_path={image path}</p>
            </div>
            <img class="float-center" src="crop/400x300?img_path={{ ImagePath }}" />
        </div>

        <div>
            <h2>Resizing</h2>
            <div>
                <h3>Method</h3>
                <p class="method">/resize/{width}x{height}?img_path={image path}</p>
            </div>
            <img class="float-center" src="resize/400x300?img_path={{ ImagePath }}" />
        </div>

        <div>
            <h2>Rotating</h2>
            <div>
                <h3>Method</h3>
                <p class="method">/rotate/{degrees}?img_path={image path}</p>
            </div>
            <img class="float-center" src="rotate/90?img_path={{ ImagePath }}" />
        </div>

        <div>
            <h2>Blurring</h2>
            <div>
                <h3>Method</h3>
                <p class="method">/blur?img_path={image path}</p>
            </div>
            <img class="float-center" src="blur/?img_path={{ ImagePath }}" />
        </div>

        <div>
            <h2>Adding Text</h2>
            <div>
                <h3>Method</h3>
                <p class="method">/add-text/{text-to-add}/{color-hex}?img_path={image path}</p>
            </div>
            <img class="float-center" src="add-text/HelloWorld/ffffff?img_path={{ ImagePath }}" />
        </div>

        <div>
            <h2>Adding a Watermark</h2>
            <div>
                <h3>Method</h3>
                <p class="method">/watermark/?img_path={image path}</p>
            </div>
            <img class="float-center" src="watermark/?img_path={{ ImagePath }}" />
        </div>

        <div>
            <h2>Rounding</h2>
            <div>
                <h3>Method</h3>
                <p class="method">/round/{radius}?img_path={image path}</p>
            </div>
            <img class="float-center" src="round/150/?img_path={{ ImagePath }}" />
        </div>
    </div>
{% endblock content %}