$universal-space: 8px;

header {
  margin-top: $universal-space * 4;
  text-align: center;
}

.tag-line {
  text-align: center;
}

.content {
  h2 {
    font-size: 20px;
    border-bottom: 1px solid #CFE3DC;
    margin-top: $universal-space * 5;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 0;
  }

  .method {
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    padding: 15px 20px;
    color: #0C4B33;
    font-size: 14px;
    font-weight: bold;
  }
}
