{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pctur - Do stuff with images, do stuff to images</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
</head>
<body>

    <div class="row">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/what-input/what-input.js' %}"></script>
    <script src="{% static 'bower_components/foundation-sites/dist/foundation.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>